<h2>Food Items on the Menu</h2>

<div class='menu'>
<ul>
	<% @foods.each do |food| %>
	<li>
		<a href="/foods/<%= food.id %>">
			<%= food.name %>
		</a>
	</li>
	<% end %>
</ul>
</div>


<form action="/foods/new" method="get">
  <input type="submit" value="Add New Foods Here">
</form> 

<p>
<form action="/" method="get">
  <input type="submit" value="Home Page">
</form> 