<h1>Add new Menu Items Below</h1>

<% if @errors %>
<div class="errors">
<h1>HALT! YOU HAVE <%= @errors.count %> <%= @errors.count == 1 ? "ERROR" : "ERRORS" %>.</h1>
  <ul>
    <% @errors.each do |error|  %>
      <li><h2><%= error %></h2></li>
    <% end %>
  </ul>
</div>
<% end %>

<form action="/foods" name="method" method="post">
	<p>
    Food Name:
    <input type="text" name="food[name]" placeholder="name of food"></input>
  </p>
  <p>
    Type of Cuisine:
    <input type="text" name="food[cuisine]" placeholder="what type of cuisine?"></input>
  </p>
  <p>
    Price:
    <input type="text" name="food[price]" placeholder="how much?"></input>
  </p>
  <p>
    Description:
    <input type="text" name="food[description]" placeholder="please describe the item"></input>
  </p>
  <p>
    Allergens:
    <input type="text" name="food[allergens]" placeholder="any allergens?"></input>
  </p>
  <input type="submit" value="Add This Menu Item">
</form>

<p>
<form action="/" method="get">
  <input type="submit" value="Nevermind">
</form> 

<!-- <a class="pagelink" href = "/foods">See all Menu Items</a> -->


